.container .row .col-md-3{
  background-color: rgba(0, 0, 0, .1);
}

*{
  background-color: rgba(0, 0, 0);
}

body {
  margin-top: 60px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}


h2, h3, p{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}